/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --bulb-display: flex;
  --btn-color: #FF0070;
  --btn-hov-color: #FF007066;
  --d-zone-color: #FF0070;
  --color: #DB00FF;
  --sub-color: #000028;
  --s-title-color: #FF0070;
  --p-color: #F1B2CE;
  --f-family: 'IBM Plex Mono';
  --mob-title-f-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --tab-title-f-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --f-size: 18px;
}

:root.theme-auto {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --bulb-display: flex;
  --btn-color: #FF0070;
  --btn-hov-color: #FF007066;
  --d-zone-color: #FF0070;
  --color: #DB00FF;
  --sub-color: #000028;
  --s-title-color: #FF0070;
  --p-color: #F1B2CE;
  --f-family: 'IBM Plex Mono';
  --mob-title-f-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --tab-title-f-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --f-size: 18px;
}

.theme-dark .page .header__bulb {
  display: var(--bulb-display);
  /* Вам также нужно будет написать ряд подобных селекторов */
}
.theme-auto .page .header__bulb {
  display: var(--bulb-display);
}
