/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --bulb-display: flex;
  --btn-color: #FF0070;
  --btn-hov-color: #FF007066;
  --d-zone-color: #FF0070;
  --color: #DB00FF;
  --sub-color: #000028;
  --s-title-color: #FF0070;
  --p-color: #F1B2CE;
  --f-family: 'IBM Plex Mono';
  --mob-title-f-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --tab-title-f-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --f-size: 18px;
}